@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-Thin.woff") format("woff"),
		url("./assets/font/Pretendard-Thin.woff2") format("woff2"),
		url("./assets/font/Pretendard-Thin.ttf") format("trutype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-Regular.woff") format("woff"),
		url("./assets/font/Pretendard-Regular.woff2") format("woff2"),
		url("./assets/font/Pretendard-Regular.ttf") format("trutype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-Medium.woff") format("woff"),
		url("./assets/font/Pretendard-Medium.woff2") format("woff2"),
		url("./assets/font/Pretendard-Medium.ttf") format("trutype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-SemiBold.woff") format("woff"),
		url("./assets/font/Pretendard-SemiBold.woff2") format("woff2"),
		url("./assets/font/Pretendard-SemiBold.ttf") format("trutype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-Bold.woff") format("woff"),
		url("./assets/font/Pretendard-Bold.woff2") format("woff2"),
		url("./assets/font/Pretendard-Bold.ttf") format("trutype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-ExtraBold.woff") format("woff"),
		url("./assets/font/Pretendard-ExtraBold.woff2") format("woff2"),
		url("./assets/font/Pretendard-ExtraBold.ttf") format("trutype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("./assets/font/Pretendard-Black.woff") format("woff"),
		url("./assets/font/Pretendard-Black.woff2") format("woff2"),
		url("./assets/font/Pretendard-Black.ttf") format("trutype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	src: url("./assets/font/NotoSansKR-Thin.woff") format("woff"),
		url("./assets/font/NotoSansKR-Thin.woff2") format("woff2"),
		url("./assets/font/NotoSansKR-Thin.otf") format("trutype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	src: url("./assets/font/NotoSansKR-Regular.woff") format("woff"),
		url("./assets/font/NotoSansKR-Regular.woff2") format("woff2"),
		url("./assets/font/NotoSansKR-Regular.otf") format("trutype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	src: url("./assets/font/NotoSansKR-Medium.woff") format("woff"),
		url("./assets/font/NotoSansKR-Medium.woff2") format("woff2"),
		url("./assets/font/NotoSansKR-Medium.otf") format("trutype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	src: url("./assets/font/NotoSansKR-Bold.woff") format("woff"),
		url("./assets/font/NotoSansKR-Bold.woff2") format("woff2"),
		url("./assets/font/NotoSansKR-Bold.otf") format("trutype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans KR";
	src: url("./assets/font/NotoSansKR-Black.woff") format("woff"),
		url("./assets/font/NotoSansKR-Black.woff2") format("woff2"),
		url("./assets/font/NotoSansKR-Black.otf") format("trutype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("./assets/font/Inter-ExtraBold.woff") format("woff"),
		url("./assets/font/Inter-ExtraBold.woff2") format("woff2"),
		url("./assets/font/Inter-ExtraBold.ttf") format("trutype");
	font-weight: 800;
	font-style: normal;
}
